.spinner > * {
	animation: spinnerRotate 1.4s linear infinite;
}
.spinner > * > * {
	stroke-dasharray: 88px;
	stroke-dashoffset: 0;
	transform-origin: center;
	animation: spinnerDash 1.4s ease-in-out infinite;
	stroke-width: 2;
	stroke-linecap: round;
	stroke: currentColor;
}
@keyframes spinnerDash {
	0% {
		stroke-dashoffset: 88px;
	}

	50% {
		stroke-dashoffset: 22px;
		transform: rotate(135deg);
	}

	100% {
		stroke-dashoffset: 88px;
		transform: rotate(450deg);
	}
}
@keyframes spinnerRotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(270deg);
	}
}
